{{>layout/header}}

<div class="profile--wrapper">
    {{>layout/profile__left-menu}}

    <div class="profile__contents">
        <div>
            개인적으로 진행해본 프로젝트와, 회사에서 참여했던
            프로젝트를 정리한 공간입니다
        </div>
    </div>
</div>

{{>layout/footer}}