<!DOCTYPE HTML>
<html>
<head>
    <title>foslog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/application.css">
</head>
<body>

    <header class="header">
        <div class="header__title">
            <a href="/">foslog.</a>
        </div>

        <div class="header__menu">
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/posts/list?type=DEVNOTE">Dev. Note</a></li>
                <!--<li><a href="#">Snack In the Garden</a></li>-->
            </ul>
        </div>

        <div class="header__login">
            {{#loginUserName}}
                <span>{{loginUserName}}님 반가워요 😊</span>
                <a href="#">, Logout</a>
            {{/loginUserName}}
            {{^loginUserName}}
                <a href="#">Login</a>
            {{/loginUserName}}
        </div>
    </header>