<div class="profile__left-menu">
    <ul data-depth="1">
        <li>
            <a href="#">Who Am I</a>
        </li>
        <li>
            <a href="#">
                <span>Project</span>
                <ul data-depth="2">
                    <li>서울시 교육청 구로 청소년 문화 예술 센터</li>
                    <li>한전 KDN K-DDS</li>
                    <li>한전 KDN 전기차 충전기 진단 도구</li>
                    <li>한전 KDN 사내 포털 디자인 개선</li>
                    <li>한전 KDN 포상-인증-감사패 관리 시스템</li>
                </ul>
            </a>
        </li>
    </ul>
</div>