{{>layout/header}}

<div class="profile--wrapper">
    {{>layout/profile__left-menu}}

    <div class="profile__contents">
        <table class="pContents__basic-table">
            <tr>
                <td>이름</td>
                <td>김병태 (BiFoS)</td>
            </tr>

            <tr>
                <td>생일</td>
                <td>93.04.22</td>
            </tr>

            <tr>
                <td>개발 경력</td>
                <td>
                    <ul>
                        <li>국비 교육 - 18.02 ~ 18.07</li>
                        <li><a href="http://www.mcst.co.kr">MCST</a> - 18.08 ~ </li>
                        <li>20.04.26 기준 21개월차 근무중</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>깃허브 저장소</td>
                <td><a href="http://github.com/jon890/foslog/">foslog</a></td>
            </tr>

            <tr>
                <td>메일</td>
                <td>jon89071@gmail.com</td>
            </tr>
        </table>

        <div class="pContents__introduce">
            안녕하세요
        </div>
    </div>
</div>

{{>layout/footer}}