<style>
    .common-left-menu {
        margin: 1%;
        display: inline-flex;
        flex-direction: column;
        border: 1px solid black;
    }

    .common-left-menu li.title {
        background-color: mediumaquamarine;
    }

    .common-left-menu li {
        padding: 10px 40px 10px 20px;
        color: black;
    }

    .common-left-menu a:hover {
        color: dodgerblue;
        text-decoration: none;
    }

    .contents {
        display: inline-flex;
        flex-direction: column;
        padding: 10px;
    }

    .contents .contents__title {
        margin-top: 10px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 2em;
    }

    .button-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-wrapper .button {
        padding: 10px;
        border-radius: 10px;
    }

    .button-wrapper .button.blue {
        background-color: dodgerblue;
        color: white;
    }

    .button-wrapper .button.red {
        background-color: red;
        color: white;
    }

    .button-wrapper .right {
        text-align: right;
    }

    .table-layout {
        width: 100%;
    }

    .table-layout tr th.table__title {
        border: 1px solid black;
        width: 20%;
        min-height: 60px;
    }

    .table-layout tr td {
        border: 1px solid black;
        padding: 10px 20px 10px 20px;
        width: 80%;
    }

    .table-layout tr td input {
        width: 100%;
        height: 24px;
    }

    .table-layout tr td textarea {
        min-height: 200px;
        width:100%;
        resize: none;
    }
</style>