{{>layout/header}}
{{>snack-in-the-garden/style}}
{{>snack-in-the-garden/left-menu}}

<div class="contents">
    <h1 class="contents__title" style="margin-top:25px;">회원 목록</h1>

    <div class="button-wrapper" style="margin-top:25px;">
        <div class="right">
            <a href="/snack-in-the-garden/customer/save" class="button blue">회원 추가</a>
        </div>
    </div>

    <table class="table-list" style="margin-top:25px;">
        <colgroup>
            <col style="width:10%;"/>
            <col style="width:15%;"/>
            <col style="width:20%;"/>
            <col style="width:30%;"/>
            <col style=""/>
        </colgroup>
        <tr>
            <td>번호</td>
            <td>이름</td>
            <td>전화</td>
            <td>주소</td>
            <td>메모</td>
        </tr>

        {{#customers}}
            <tr data-id="{{id}}" class="customers clickable">
                <td>{{rowNumber}}</td>
                <td>{{name}}</td>
                <td>{{phoneNumber}}</td>
                <td>{{address}}</td>
                <td>{{memo}}</td>
            </tr>
        {{/customers}}
    </table>
</div>

<script src="/js/app/customers/list.js"></script>

{{>layout/footer}}