{{>layout/header}}
{{>snack-in-the-garden/style}}
{{>snack-in-the-garden/left-menu}}

<div class="contents">
    <h1 class="contents__title">회원 목록</h1>

    <div class="button-wrapper">
        <div class="right">
            <a href="/snack-in-the-garden/customer/add" class="button blue">회원 추가</a>
        </div>
    </div>
</div>

{{>layout/footer}}